/* CSS- Google Fonts Import - Merriweather and Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap");

/* General CSS Start*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Merriweather", serif;
}

:root {
  --color-primary: #ff0000;
  --color-secondary: #070211;
  --color-tertiary: rgba(7, 2, 17, 0.6);
  --color-black: #000;
  --color-white: #fff;
}

/* General CSS End*/

/* Reuseable CSS Start*/
.full-container {
  max-width: 1600px;
  margin: 0 auto;
}
.sub-container {
  max-width: 82%;
  margin: 0 auto;
}
.heading-primary {
  color: var(--color-white);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
.heading-secondary {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  line-height: 120px;
}
.heading-tertiary {
  color: var(--color-white);
  font-size: 64px;
  font-weight: 900;
  line-height: 87px;
  letter-spacing: 7px;
}
.heading-quaternary-1 {
  color: var(--color-secondary);
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.heading-quaternary-2 {
  color: var(--color-secondary);
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.heading-quinary-1 {
  color: var(--color-secondary);
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.heading-quinary-2 {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
}

.paragraph-primary {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.paragraph-secondary {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Reuseable CSS End*/

/* Banner Section Styles Start*/
.banner-bg {
  background-image: linear-gradient(
      to bottom,
      #070211 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url("./resources/Banner-Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  max-height: 80vh;
  border-radius: 12px;
}
.banner-bg .banner-content {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-content .heading-container {
  width: 632px;
}
/* Banner Section Styles End*/

/* Offer Section Styles Start */
.offer {
  margin: 120px 0;
  text-align: center;
}
.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-content {
  max-width: 800px;
}
.offer-content .offer-title {
  margin-bottom: 40px;
}
.offer-content .offer-motive {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.offer-content .offer-category {
  margin-bottom: 30px;
}
.offer-img img {
  width: 100%;
  object-fit: cover;
}
/* Offer Section Styles End */

/* Call To Action Section Styles start */
.call-to-action {
  background-image: linear-gradient(
      to right,
      #070211 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url("./resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 80vh;
  border-radius: 12px;
  margin-bottom: 130px;
}
.call-to-action .call-to-action-container {
  width: 100%;
  height: 600px;
  padding-left: 130px;
  display: flex;
  align-items: center;
}
.call-to-action .call-to-action-content {
  width: 700px;
}
.call-to-action-content .cta-para {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 24px;
  margin-bottom: 32px;
}
/* Call To Action Section Styles end */

/* Events Section Styles Start */
.events {
  background-image: linear-gradient(to bottom, #fce1e1 0%, #fff 100%);
  border-radius: 12px;
}
.events .events-container {
  height: 430px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events .events-container .events-content {
  margin: 100px 370px;
}
.events-content .event-title {
  color: var(--color-primary);
}

.events-content button {
  margin-top: 48px;
}
/* Events Section Styles End */

/* Coming Soon Section Styles Start */
.coming-soon {
  height: 470px;
  margin: 120px 0;
}
.coming-soon .coming-soon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.coming-soon .coming-soon-container .coming-soon-container-item {
  width: 33%;
}

.coming-soon-content-item p {
  margin-bottom: 18px;
}

.coming-soon-content-item h3 {
  margin-bottom: 25px;
}

.coming-soon-img .image-container img {
  width: 100%;
  object-fit: cover;
  outline: 15px solid var(--color-primary);
  outline-offset: 25px;
  border-radius: 50%;
}

.coming-soon-new-year {
  padding-left: 90px;
}

.coming-soon-new-year .coming-soon-new-year-title {
  color: var(--color-primary);
  margin-bottom: 20px;
}
.coming-soon-new-year p {
  margin-bottom: 45px;
}

.coming-soon-new-year .new-year-greet-img {
  width: 140px;
  height: 140px;
}
.coming-soon-new-year .new-year-greet-img img {
  width: 100%;
  object-fit: cover;
}
/* Coming Soon Section Styles End */

/* Holiday Section Styles Start */
.holiday {
  height: 883px;
  margin: 120px 0;
  border-radius: 12px;
}

.holiday-container .holiday-content {
  text-align: center;
  width: 1070px;
  margin: 0 auto 64px;
}

.holiday-container .holiday-content .holiday-func {
  color: var(--color-secondary);
  margin-bottom: 16px;
}
.holiday-container .holiday-content .holiday-title {
  color: var(--color-secondary);
  margin-bottom: 30px;
}
.holiday-container .holiday-content .holiday-title-span {
  color: var(--color-primary);
}

.holiday-container .holiday-content .holiday-para {
  padding: 0 40px;
}

.holiday-img {
  height: 550px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.holiday-img .bottom-panel {
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.holiday-img .bottom-panel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.holiday-img .girl {
  height: 370px;
  width: 370px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.holiday-img .girl img {
  width: 100%;
  object-fit: cover;
}

.holiday-img .magic-box {
  height: 550px;
  width: 680px;
  position: absolute;
  bottom: 0px;
  left: 30px;
  z-index: 2;
}
.holiday-img .magic-box img {
  width: 100%;
  object-fit: cover;
}
.holiday-img .discount {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: 245px;
}
.holiday-img .discount img {
  width: 100%;
  object-fit: cover;
}
/* Holiday Section Styles End */

/* Portfoloio Section Styles Start */

.portfolio .portfolio-content {
  max-width: 900px;
}
.portfolio-content p:first-child {
  margin-bottom: 16px;
}
.portfolio-content h3 {
  margin-bottom: 20px;
}
.portfolio-content p:last-child {
  margin-bottom: 48px;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.portfolio-gallery .portfolio-gallery-item {
  width: 425px;
  height: 450px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.portfolio-gallery .portfolio-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-gallery .portfolio-gallery-item:hover {
  transform: translateY(-10px);
}
/* Portfoloio Section Styles End */

/* Subscribe Section Styles Start */
.subscribe {
  margin: 120px 0 120px;
  text-align: center;
}
.subscribe .subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe .subscribe-content {
  max-width: 900px;
  padding: 80px 30px;
}
.subscribe .subscribe-content .subscribe-content-img {
  height: 150px;
  width: 150px;
  margin: 0 auto 40px;
}

.subscribe .subscribe-content h3 {
  margin-bottom: 22px;
}
.subscribe .subscribe-content p {
  margin-bottom: 50px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-form #user-email {
  width: 440px;
  height: 72px;
  padding: 18px 30px;
  border-radius: 50px 0 0 50px;
  font-size: 18px;
}
.subscribe-form .subscribe-btn {
  height: 72px;
  width: 210px;
  padding: 24px 56px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
/* Subscribe Section Styles End */

/* Footer Section Styles Start */
.footer-bg {
  background: #000;
}
.footer-bg .footer {
  padding: 120px 0;
  color: var(--color-white);
}
.footer .footer-container .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer .footer-container hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.123);
  margin-bottom: 50px;
}
.footer-content p {
  font-weight: 400;
  width: 30%;
}
.footer-content .footer-contact-list {
  width: 30%;
}
.footer-contact-list .footer-contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-contact-list .footer-contact-item .footer-contact-item-img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-right: 20px;
}
.footer-contact-list .footer-contact-item a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 400;
}

.footer-container .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.footer-container .footer-social a {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 25px;
}
.footer-container .footer-social a:last-child {
  margin-right: 0;
}
.footer-social a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-container .copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .copy-right p {
  width: 50%;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.footer-container .copy-right button {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

/* Footer Section Styles End */
